<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<h2>Title</h2>
<p> <%= @book.title %></p>

<h2>Body</h2>
<p> <%= @book.body %></p>

 <%= link_to "Edit", edit_book_path, class: "edit_#{@book.id}" %>

 |

 <%= link_to "Back", books_index_path, class: "back" %> 
